main {
  width: 65%;
  display: inline-block;
}

.biopic {
  margin-left: 20px;
  margin-top: 15px;
  border: 1.5px solid #a0a4a8;
  font-family: sans-serif;
  font-size: 14px;
  background-color: #f9f9f9;
  border-collapse: initial;
}

hr {
  border: 1px dotted black;
}

tbody th {
  text-align: left;
}

.title {
  text-align: center;
  background-color: #c0c0c0;
}

.head-table {
  font-size: 20px;
  font-style: bold;
  background-color: #c0c0c0;
  padding: 15px;
}

header h1 {
  font-size: 1.8em;
  margin: 0;
}